html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;            /* remove inline-block gaps */
    background-color: #999;
    image-rendering: pixelated;
}
